version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: warehouse-db
    environment:
      POSTGRES_DB: warehouse_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: warehouse-api
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/warehouse_db
      DB_USERNAME: postgres
      DB_PASSWORD: password
    restart: always

volumes:
  postgres_data:
