spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    locations: classpath:db/migration
  profiles:
    active: prod
server:
  servlet:
    context-path: /api
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false
