spring:
  profiles:
    active: local
server:
  servlet:
    context-path: /api
  datasource:
    url: jdbc:postgresql://localhost:5432/warehouse_db
    username: postgres
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

logging:
  level:
    com.example.warehouse: DEBUG
    org.springframework.security: INFO
