spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    locations: classpath:db/migration
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false
