.git
.gitignore
.idea
.vscode

node_modules
.next
out

*.log
*.tmp
*.swp

.env
.env.*
!.env.example

coverage
build
dist

Dockerfile
errors.log
build_error.txt
build_error_final.txt
build_output.txt
lint_results.txt
tsc_errors.txt
